* {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #d7d7d7;
}

.container {
    background-color: rgb(255, 255, 255);
    width: 60rem;
    height: 10rem;
    display: grid;
    grid-template-areas:
    'texto texto' 
    'box1 box2'
    'box1 box2';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2rem;
    overflow: auto;
    border-radius: 1rem;
}
.texto {
    grid-area: texto;
}
.box1 {
    grid-area: box1;
}
.box2 {
    grid-area: box2;
    justify-content: center;
    padding: 2rem;
    position: absolute;
    right: 25rem;
    top: 10rem;
    
}
.box3 {
    margin: 2rem;
    width: 10rem;
    height: 10rem;
    background-color: bisque;
}
button {
    border: none;
    background-color: rgb(43, 40, 40);
    color: white;
    border-radius: 0.3rem;
}
button:hover {
    background-color: #d7d7d7;
    color: black;
}