* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    padding: 1rem;
    background:rgb(153, 149, 149);
}
.box {
    width: 20rem;
    height: 13rem;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 1rem;
    box-shadow: 2rem 1rem 2rem rgba(20, 20, 20, 0.3);
    border-radius: 1rem;
    padding: 0.5rem;

}
.box img {
    width: 8rem;
}
.duvida {
    width: 100%;
    height: 1rem;
    display: flex;
    justify-content: right;
}
.duvida img {
    width: 1rem;
}
.dica {
    z-index: -1;
    margin: 1rem;
    position: absolute;
    width: 10rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    background: #1d1d1d;
    color: white;
    border-radius: 0.5rem;

}
