body {
    color: rgb(8, 8, 8);
    background-color: rgb(202, 202, 202);
    display: grid;
    grid-template-areas: 
    'con con2'
    'con con2';
    grid-template-columns: 25rem 1fr;
    font-family: Arial, Helvetica, sans-serif

}
button {
    background-color: rgb(243, 242, 242);
    border-radius: 0.3rem;
    border: none; 
    box-shadow: 0.1rem 0.1rem 0.1rem black ;
}
button:hover {
    background-color: #050505;
    color: white;
}
body.tema_escuro{
   background-color: rgb(48, 48, 48); 
   filter: invert(100%);
}
.container {
    grid-area: con;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
}
.box {
    height: 10rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background-color: rgb(245, 245, 245);
    margin: 1rem;
}
input {
    width: 8rem;
    margin: 0.2rem;
}
.erro {
    border: 0.12rem solid red;
    border-radius: 0.2rem;
}
.box2 {
    width: 40rem;
    height: 30rem;
    background-color: white;
    border-radius: 1rem;
    margin: 1rem;
    display: none;
    justify-content: center;
    position: fixed;
    top: 3rem;
    left: 20rem;
    box-shadow: 0.5rem 0.1rem 1rem;
}
.box2 button {
    height: 1.5rem;
    width: 8rem;
}
.aparecer {
    display: flex;
}
.container2 {
    grid-area: con2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.relogio {
    height: 30rem;
    width: 30rem;
    font-size: 5rem;
    font-family:'Times New Roman', Times, serif;
    margin: 3rem
}

.lista:hover {
    cursor: pointer;
    
}
.urgente {
    border: 0.1rem solid rgb(150, 4, 4);
}
