* {
    font-size: small;
}
body {
    margin: 0;
    display: flex;
    width: 100vw;
}
.conteudo {
    display: flex;
    flex-direction: column;
}
img {
    height: 15px;
    max-width: 100%;
}
aside {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 10vw; 
    
    
}
aside img {
    width: 2vw;
    height: auto;

}
button {
    border: none;
} 
button:hover {
    background-color: rgb(160, 165, 170);
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 90vw;
}
.pesquisa {
    background-color: aliceblue;
    border-radius: 40%;
}
input .pequisa {
    border: none;
    border-radius: 20%;
    height: 20px;
    width: 600px;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    width: 90vw;
}
.filtro {
    line-height: 0px; 
    width: auto;
    background-color: rgb(177, 177, 177);
    text-align: center;
    border-radius: 20%;
}
.filtro:hover {
    background-color: black;
    color: white;
}
main {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2vh;

}
.parte {
    display: flex;
    flex-direction: row;
    gap: 2vw;
}
.video {
    height: 20vh;
    width: 20vw;
}
.video img {
    height: auto;
    width: 13vw;
}
.canal {
    display: flex;
    flex-direction: row;
}
.canal img {
    height: auto;
    width: 3vw;
    border-radius: 70%;
}
footer {
    background-color: blue;
    display: flex;
    justify-content: center;
}